
@import url(http://storage.live.com/items/4A07C1EEED420167%21166);
@import url('https://fonts.googleapis.com/css?family=Lato');
@import url(https://malcat-gen.appspot.com/series?preset=more);

body {
    font-family: Lato;
    background-color: white;
}


a {
    text-decoration: none !important; 
    color:black;
}


#list_surround {
    width: 1025px;
    margin: 100px auto;
    padding: 11px;
}

#list_surround br {
    display: none;
}

#list_surround tab\le:first-of-type {
        position: fixed;
        top: 0px;
        left: 43%;
        margin-left: -8px;
        width: auto;
        height: 46px;
        font-size: 13px;
        font-weight: bold;
        z-index: 3;
}

.status_selected:nth-child(3), .status_not_selected:nth-child(3) {
        display: none;
}

.status_selected:nth-child(4), .status_not_selected:nth-child(4) {
        width: 80px;
}

.status_selected:nth-child(1) a, .status_not_selected:nth-child(1) a{
        width: 145px;
}

.status_selected a, .status_not_selected a {
        display: block;
        padding: 0px;
        height: 30px;
        line-height: 40px;
        width: 100px;
        font-size: 14px;
        overflow: hidden;
}
  

/* XXXXXXXXXX SORT ANIME XXXXXXXXXX 

#list_surround:nth-of-type(n+4) ~ .header_cw + tab\le,
#list_surround:nth-of-type(n+4) ~ .header_completed + tab\le,
#list_surround:nth-of-type(n+4) ~ .header_onhold + tab\le,
#list_surround:nth-of-type(n+4) ~ .header_dropped + tab\le,
#list_surround:nth-of-type(n+4) ~ .header_ptw + tab\le {
    display: none;
}

#list_surround tab\le:nth-child(6)  {
    display: block;
    position: fixed;
    padding-right: 40px;
    z-index: 3;
    overflow: hidden;
    top: 0px;
    height: 40px;
    width: 0px;
    left: 50%;
    margin-left: 493px;
    line-height: 0px;
    background: url(http://i.imgur.com/jjSLP4w.png) no-repeat;
    background-position: 0px 6px;
}   

#list_surround tab\le:nth-child(6):hover  {
    height: 170px;
    width: 160px;
    background-position: 0px -34px;
}


.table_header {
        display: block;
        width: 96px;
}
 
.table_header:first-of-type, .table_header:nth-of-type(n+6) {
        display: none;
}
 
.table_headerLink {
        display: block;
        height: 30px;
        text-align: center;
        width: 96px;
        border: 2px solid black;
        border-radius: 5px;
        font-size: 13px;
        line-height: 30px;
        margin: 6px;
        margin-left: 52px;
        margin-bottom: 0px;
        z-index: 3;
        text-shadow:
     -1px -1px 0 #000,  
      1px -1px 0 #000,
     -1px 1px 0 #000,
      1px 1px 0 #000;  
        background: rgba(255, 255, 255, 0.1);
}
 
.table_headerLink:hover {
        box-shadow: 0px 0px 15px 5px rgba(255, 255, 255, 0.8);
}       



#list_surround tab\le:nth-child(6) tbodytd:nth-child(5) strong a {
        margin-right: 0px !important;
}*/

.status_selected a:hover, .status_not_selected a:hover {
        text-shadow: 
     -1px -1px 2px #777,
     1px -1px 2px #777,
     -1px 1px 2px #777,
     1px 1px 2px #777;
}     
.status_selected a {
        color: whitesmoke;
        text-shadow: 
               -1px -1px 2px #888,
               -1px 1px 2px #888,
               1px 1px 2px #888;
}      
 

.header_cw, .header_completed, .header_onhold,
.header_dropped, .header_ptw {
        clear: both;
        position: relative;
        top: 10px;
        margin: 0px 0px 42px 0px;
        padding: 11px 0px;
}


.header_title {
        font-size: 26px;
        font-weight: bold;
        text-align: center;
        text-transform:uppercase;
        text-shadow: 0px -1px 0 #000;  
}


#list_surround tab\le:nth-of-type(n+4):not(.header_cw):not(.header_completed):not(.header_onhold):not(.header_dropped):not(.header_ptw),
.hide {
        float: left;
        position: relative;
        width: 183px;
        height: 249px;
        margin: 11px;
        border-radius: 6px;
}

#list_surround tab\le:nth-of-type(n+4):not(.header_cw):not(.header_completed):not(.header_onhold):not(.header_dropped):not(.header_ptw) {
        z-index: 1;
}

.hide {
        display: block !important;
        margin-left: -194px;
        background-size: cover;
        background-position: center;
        border-radius: 6px;
}

.td1:nth-of-type(2), .td2:nth-of-type(2) {
        visibility: hidden;
        padding: 0px;
        width: 100%;
        height: 100%;
}

.td1:nth-of-type(6), .td2:nth-of-type(6) {
        visibility: hidden;
}

.td1, .td2 {
        position: absolute;
        padding: 4px 7px;
}
 
.td1:first-of-type, .td2:first-of-type {
        display: none;
}

.td1, .td2, .td1 a + small, .td2 a + small, .animetitle {
        background-color: rgba(255, 255, 255, 0.6);
        border: 1px solid black;
        border-radius: 5px;
}

#list_surround tab\le:nth-of-type(n+4):not(.header_cw):not(.header_completed):not(.header_onhold):not(.header_dropped):not(.header_ptw):hover {
        box-shadow: 0px 0px 20px 8px rgba(255, 255, 255, 0.8);
}


.td1 a[title="Anime Information"] + small, .td2 a[title="Anime Information"] + small {
        display: block;
        visibility: visible;
        position: absolute;
        top: 26px;
        right: 68px;
        width: auto;
        padding: 4px 7px;
        height: 8px;
        line-height: 8px;
        text-align: center;
        word-wrap: break-word;
}

.td1:nth-of-type(4)[width="50"], .td2:nth-of-type(4)[width="50"] {
        top: 27px;
        left: 6px;
        width: auto;
        height: 8px;
        line-height: 8px;
}
.animetitle {
        display: block;
        visibility: visible;
        position: absolute;
        left: 0px;
        bottom: 0px;
        padding: 5px;
        width: 173px;
        border: 1px solid rgba(255, 255, 255, 0.3);
        border-radius: 0;
        max-height: 32px;
        line-height: 12px;
        overflow: hidden;
        text-align: center;
        font-size: 12px;
}
 
.animetitle:hover {
        text-shadow: 1px 1px 0 rgba(255,255,255,1);
        border: 1px solid white;
}

.td1:nth-of-type(3), .td2:nth-of-type(3) {
        top: 6px;
        right: 6px;
        width: 45px;
        height: 37px;
        padding: 0px;
        text-align: center;
        font-size: 24px;
}
 
.td1:nth-of-type(3) a, .td2:nth-of-type(3) a {
        display: block;
        width: 100%;
        height: 100%;
}
 
.td1:nth-of-type(3) a span, .td2:nth-of-type(3) a span {
        display: block;
        height: 37px;
        text-align: center;
        line-height: 37px;
}

td[width="50"] + .td1:nth-of-type(5):before, [width="50"] + .td2:nth-of-type(5):before {
        content: "Ep: ";
}
 
td[width="50"] + .td1:nth-of-type(5), td[width="50"] + .td2:nth-of-type(5) {
        left: 6px;
        top: 6px;
        width: auto;
        text-align: right;
        height: 8px;
        line-height: 8px;
}


input[type=text] {
        width: 100%;
        text-align: right;
        border: none;
        border-radius: 5px;
}

input[value=Go] {
        display: none;
}

.List_LightBox {
        display: block;
        visibility: visible;
        position: absolute;
        top: 0px;
        left: 0px;
        width: 181px;
        height: 247px;
        font-size: 0px;
        border-radius: 5px;
        box-shadow: 0px 0px 2px 6px #eeeeee; 
}
 
.category_totals {
        position: absolute;
        height: 247px;
        width: 119px;
        padding: 0px 31px;
        text-align: center;
        white-space: pre-line;
        border-radius: 6px;
        line-height: 14px;
        background-color: rgba(0, 0, 0, 0.05);
        font-size: 14px;
        box-shadow: 0px 0px 2px 6px #eeeeee; 
}
 
.category_totals:before {
        display: block;
        content: "Totals:";
        text-align: center;
        font-weight: bold;
        font-size: 16px;
        line-height: 60px;
}
 
#grand_totals {
        font-size: 12px;
}
 
#grand_totals, #copyright {
        clear: both;
        position: relative;
        top: 20px;
        text-align: center;
}


 
#copyright {
        padding: 11px 0px;
        text-align: center;
        margin-top: 0px !important;
        margin-bottom: 20px;
}
  
.table_header {
        display: none;
}

#mal_cs_links a {
        border: none;
        box-shadow: none;
        width: auto;
        height: auto;
}

#mal_control_strip {
        background: none !important;
        background-color: white !important;
        top: 0;
        width: 100%;
        height: 60px;
        z-index: 2;
        position: fixed;
        box-shadow: 0px 1px 6px 7px rgba(0,0,0,0.1);
}

#mal_control_strip a{
        color: black !important;
}

#mal_cs_pic, #mal_cs_listinfo, #mal_cs_links {
    border-right: none !important;
}

#mal_cs_otherlinks {
        display: none;
}
  